/*
Theme Name: Office master
Theme URI: https://wordpress.org/themes/twentyseventeen/
Author: Pallab 
Author URI: https://wordpress.org/
Description: Twenty Seventeen brings your site to life with header video and immersive featured images. With a focus on business sites, it features multiple sections on the front page as well as widgets, navigation and social menus, a logo, and more. Personalize its asymmetrical grid with a custom color scheme and showcase your multimedia content with post formats. Our default theme for 2017 works great in many languages, for any abilities, and on any device.
Version: 1.3
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: twentyseventeen
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/



.navbar-default .navbar-nav > .current_page_item > a,
.navbar-default .navbar-nav > .current_page_item > a:hover, 
.navbar-default .navbar-nav > .current_page_item > a:focus{
	color: #fff;
	background-color: #6BAAA8;
}
.current_page_item{
  background: #74B9B9 !important;
  color: white;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    line-height: 1;
    width: 100%;
}
.carousel-indicators {
    bottom: 0px;
}

.services-group{
	margin-top:30px;
}
.services-section .services-header{
	margin-bottom: -30px;
}

/*Tag style*/

.label a {
    color: #fff;
    padding-right: 5px;
}

/*Pagination  style*/


.screen-reader-text {
    display:  none;
}

.nav-links {
    border:  1px solid #ddd;
    border-radius:  5px;
    overflow:hidden;
}

.nav-links .page-numbers {
    width:  35px;
    line-height: 35px;
    display:  block;
    float:  left;
    background:  #fff;
    border-left:  1px solid #ddd;
    text-align:center;
    color:  #2A7ABB;
}
.nav-links .page-numbers:first-child {
    border-left:  0;
}


.page-numbers.current, .page-numbers.current:hover{
    background:  #428bca;
    border:  #428bca;
    color:#fff
    
}

.page-numbers:hover {

    background:  #eee;
}

.col-lg-3 {
    width: 23%;
}
textarea.form-control {
    height: 120px;
}